@model  RichardMCano.Website.Models.Jobs.JobsViewModel

<!DOCTYPE html>

<html>
<head>
    <title>Richard M. Cano Resume</title>
    <meta name="description" content="Richard M. Cano Resume" />

    @Html.Partial("_HeadScripts")
    <script src="~/Scripts/Views/Jobs/Detail.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" media="screen and (min-width: 1001px)" href="~/Content/CSS/JobDetails/JobDetails.css">
    <link rel="stylesheet" type="text/css" media="screen and (min-width 826px) and (max-width 1000px)" href="~/Content/CSS/JobDetails/JobDetails_1000px.css">
    <link rel="stylesheet" type="text/css" media="screen and (min-width 761px) and (max-width 825px)" href="~/Content/CSS/JobDetails/JobDetails_825px.css">
    <link rel="stylesheet" type="text/css" media="screen and (min-width 626px) and (max-width 760x)" href="~/Content/CSS/JobDetails/JobDetails_760px.css">
    <link rel="stylesheet" type="text/css" media="screen and (min-width 426px) and (max-width 625x)" href="~/Content/CSS/JobDetails/JobDetails_625px.css">
    <link rel="stylesheet" type="text/css" media="screen and (max-width 425x)" href="~/Content/CSS/JobDetails/JobDetails_425px.css">
</head>
<body>

    <div class="page">
        <header>
            <a class="logo" title="Richard M. Cano Resume" href="http://localhost:62403/"><span>Richard M. Cano Resume</span></a>
            <div class="">
                <h1></h1>
            </div>
        </header>
        <section class="main">
            <div id="jobDetails">
                <div id="jobName">
                    @Model.JobDetails.JobName
                </div>
                <div id="jobDates">
                    @Model.JobDetails.MonthStart @Model.JobDetails.YearStart - @Model.JobDetails.MonthEnd @Model.JobDetails.YearEnd
                </div>
                <div id="jobDescription">
                    @Model.JobDetails.Description
                </div>
                <div id="jobResponsibilities">
                    @foreach (var responsibilities in Model.Responsibilities)
                    {
                        <ul>
                            @*<li><span>&#183;</span>*@ <li>@responsibilities.R_Description</li>
                        </ul>
                    }
                </div>
            </div>
            <div id="btnJobsBack">
                <div class="btn" id="btnJobsBack">Back to Jobs</div>
            </div>
            <aside>
                <div>

                </div>
            </aside>
        </section>
        <section class="intro">
            @Html.Partial("_sctIntro")
        </section>
        @Html.Partial("_Navigation")
        <footer class="pageFooter"></footer>

    </div>
</body>
</html>
