@model RichardMCano.Website.Models.Education.EducationDetailsViewModel

<!DOCTYPE html>
<html>
<head>
    <title>@Model.Title</title>
    <meta name="description" content="Richard M. Cano Resume - Education" />

    @Html.Partial("_HeadScripts")
    <script src="~/Scripts/Views/Education/Detail.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" media="screen and (min-width: 1001px)" href="~/Content/CSS/EducationDetails/EducationDetails.css">
    <link rel="stylesheet" type="text/css" media="screen and (min-width 826px) and (max-width 1000px)" href="~/Content/CSS/EducationDetails/EducationDetails_1000px.css">
    <link rel="stylesheet" type="text/css" media="screen and (min-width 761px) and (max-width 825px)" href="~/Content/CSS/EducationDetails/EducationDetails_825px.css">
    <link rel="stylesheet" type="text/css" media="screen and (min-width 626px) and (max-width 760x)" href="~/Content/CSS/EducationDetails/EducationDetails_760px.css">
    <link rel="stylesheet" type="text/css" media="screen and (min-width 426px) and (max-width 625x)" href="~/Content/CSS/EducationDetails/EducationDetails_625px.css">
    <link rel="stylesheet" type="text/css" media="screen and (max-width 425x)" href="~/Content/CSS/EducationDetails/EducationDetails_425px.css">
</head>

<body>

    <div class="page">
        <header>
            <a class="logo" title="Richard M. Cano Resume" href="http://localhost:62403/"><span>Richard M. Cano Resume</span></a>
            <div class="">
                <h1></h1>
            </div>
        </header>
        <section class="main">
            <div class="EducationInfo">
                <div class="Educations">
                    <div>
                        @Model.Education.SchoolName
                    </div>
                    <div id="degreeName">
                        @Model.Education.DegreeName
                    </div>
                    <div id="concentrationName">
                        @Model.Education.ConcentrationName
                    </div>
                    <div id="minorName">
                        @Model.Education.MinorName
                    </div>
                    <div id="isGraduated">
                        @Model.Graduated
                    </div>
                    <div id="graduatedHours">
                        @Model.Education.EducationHours hrs.
                    </div>
                </div>
                <div class="educationMinors">
                    @foreach (var minor in Model.MinorList)
                    {
                        <ul>
                            <li>@minor.MinorName</li>
                        </ul>
                    }
                </div>
                <div class="btn" id="btnEducationBack">
                    Back to Education
                </div>
            </div>
                <aside>
                    <div>

                    </div>
                </aside>
        </section>
        <section class="intro">
            @Html.Partial("_sctIntro")
        </section>
        @Html.Partial("_Navigation")
        @Html.Partial("_Footer")
    </div>

</body>
</html>