<div class="applicantProfile">
    <div class="applicantImage">

    </div>
    <div class="applicantName">
        @Model.Applicant.ApplicantName
    </div>
    <div class="applicantNumber">
        @Model.Applicant.Cell | @Model.Applicant.Home
    </div>
    <div class="applicantAddress">
        @Model.Applicant.Address  @Model.Applicant.City, @Model.Applicant.State @Model.Applicant.Zip
    </div>
</div>